h3 {
    display: inline;
    margin: 2em 0;
    font-size: 30px;
    font-weight: 700;
}

.button {
    background-color: #719c58;
    border-color: #719c58;
}

.button:hover {
    background-color: #496439;
    border-color: #496439;
}

.tableContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.table {
    width: 40%
}

.paragraph {
    margin: 0 14em 3em;
    font-size: 20px;
    line-height: 1.7em;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigButton {
    margin-bottom: 2em;
}

.donationInfo {
    margin-left: 1em;
    font-size: 14px;
    color: rgb(71, 70, 70);
}

.warning {
    color: rgb(233, 41, 41);
}