h3 {
    display: inline;
    margin: 2em 0;
    font-size: 30px;
    font-weight: 700;
}

.tableContainer {
    display: flex;
    justify-content: center;
}

.table {
    width: 97%
}

.paragraph {
    margin: 0 14em 3em;
    font-size: 20px;
    line-height: 1.7em;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigButton {
    margin-bottom: 2em;
}
